body {
    font-family: Verdana, sans-serif, monospace;
    font-size: 18px;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: initial;
}

.board-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 96px);
    grid-template-rows: repeat(9, 96px);
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-template-rows: repeat(3, 32px);
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-template-rows: repeat(3, 32px);
}

span.top {
    margin-top: 100px;
}
