<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title 'Welcome to Labyrinth Game!' %}
            </title>
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('styles/main.css') }}"/>
            {% endblock %}
        </head>
        <body>
            <section class="container">
                {% block header '' %}
                    {% block content %}{% endblock %}
                </section>
            </body>
        </html>
