<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block pageTitle %}Welcome to Labyrinth Game!{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}"/>
    {% endblock %}
</head>
<body>
<section class="container">
    <div class="game">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</section>
</body>
</html>
