{% extends "base.html.twig" %}
{% block header %}
    <div class="game-header">
        <h3>Welcome to Labyrinth Game!</h3>
    </div>
{% endblock %}

{% block content %}
    {% include 'invite.html.twig' with {
        'idGame': game.getId(),
        'playerScore': game.getCurrentPlayerScore()
    }
        only %}

    {% include 'grid.html.twig' with {
        'idGame': game.getId(),
        'board' : game.board,
    }
        only %}

    {% include 'players.html.twig' with {
        'players' : game.players,
    }
        only %}

    {% include 'insertLayer.html.twig' with {
        'idGame': game.getId(),
        'remainingPathCard' : game.remainingPathCard
    }
        only %}

    {% include 'remainingPathCard.html.twig' with {
        'idGame': game.getId(),
        'remainingPathCard' : game.remainingPathCard
    }
        only %}
{% endblock %}
