{% extends "base.html.twig" %}
{% block header %}
  <div class="section">
    <h1>Welcome to Labyrinth Game!</h1>
  </div>
{% endblock %}

{% block content %}
<div class="board">
<div>
    {% include 'grid.html.twig' with {
        'name': game_name,
        'grid': game_grid,
    } only %}
</div>
</div>

{% endblock %}
