{% extends "base.html.twig" %}
{% block header %}
    <div class="section">
        <h1>Welcome to Labyrinth Game!</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="board">
        <div>
            {% include 'grid.html.twig' with {
                'board' : game.board
            }
                only %}
        </div>
    </div>

{% endblock %}
