{% extends "base.html.twig" %}
{% block header %}
    <div class="section">
        <h1>Welcome to Labyrinth Game!</h1>
    </div>
{% endblock %}

{% block content %}
    <div>
        {% include 'grid.html.twig' with {
            'board' : game.board,
        }
            only %}
    </div>

    <div>
        {% include 'players.html.twig' with {
            'players' : game.players,
        }
            only %}
    </div>

    <div>
        {% include 'remainingPathCard.html.twig' with {
            'idGame': game.getId(),
            'remainingPathCard' : game.remainingPathCard
        }
            only %}
    </div>

{% endblock %}
