<div class="board-grid board">
    {% for row in board %}
        {% for tile in row %}
            {% set degrees = tile.direction * 90 %}
            {% set position = fromBoardReferentialToDisplay([tile.x,tile.y]) %}
            <div class="tile-grid pathCard"
                 style="grid-column: {{ position[0] }} ; grid-row: {{ position[1] }};
                         transform: rotate({{ degrees }}deg)">
                {% include 'tile.html.twig' with {
                    'tile' : tile
                } only %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
