<div class="grid">
    {{ dump(board) }}

    {% for row in board %}
        <div class="grid-row">
        {% for value in row %}
                <div class="default-box">
                    {{ value.type }}
                </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
