<div class="board-grid board">
    {% for row in board %}
        {% for tile in row %}
            {% include 'tile.html.twig' with {
                'tile' : tile
            } only %}
        {% endfor %}
    {% endfor %}
</div>
