<div class="game-board movePlayer">
    {% for displayPosition in currentPlayerReachablePositions %}
        {% if isToMoveMode and gamePlayerIndex == playerIndex %}
            <a class="tile-grid empty"
               style="grid-column: {{ displayPosition[0] }} ; grid-row: {{ displayPosition[1] }}"
               href="{{ path('movePlayerTo', {'idGame': idGame, 'x': displayPosition[0], 'y': displayPosition[1]}) }}"
            >
            </a>
        {% endif %}
    {% endfor %}
</div>
