{% set matrix = tileTypeToMatrix(tile.type) %}
{% for row in matrix %}
    {% set y = loop.index0 %}
    {% for isWall in row %}
        {% set x = loop.index0 %}
        {% set source = asset('images/' ~ (isWall ? 'bricks32' : 'stones32') ~ '.png') %}
        <div class="tile-asset" style="grid-column: {{ x+1 }} ; grid-row: {{ y+1 }}">
            <img class="tile-image" src="{{ source }}"/>
        </div>
    {% endfor %}
{% endfor %}
{% if tile.target is not null %}
    <div class="tile-asset target" style="grid-column: {{ 2 }} ; grid-row: {{ 2 }}">
        {{ treasures[tile.target] }}
    </div>
{% endif %}
