{% set matrix = tileTypeToMatrix(tile.type) %}
{% set degrees = tile.direction * 90 %}
<table style="transform: rotate({{degrees}}deg)">
    {% for raw in matrix %}
        <tr>
            {% for isWall in raw %}
                {% set source = asset('images/' ~ (isWall ? 'bricks' : 'stones') ~ '.png') %}
                <td>
                    <img class="tile-image" src="{{source}}"/>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
