{% set matrix = tileTypeToMatrix(tile.type) %}
{% set degrees = tile.direction * 90 %}
<table style="transform: rotate({{degrees}}deg)">
    {% for raw in matrix %}
        <tr>
            {% for isWall in raw %}
                <td>
                    {% if (isWall == 1) %}
                        <img class="tile-image" src="{{ asset('images/bricks.png') }}"/>
                    {% else %}
                        <img class="tile-image" src="{{ asset('images/stones.png') }}"/>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
